* { /* Select all elements */
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #1f2937;
  color: #f9faf8;
}

header {
  padding: 10px;
  display: flex; 
  justify-content: space-around;
  align-items: center;
}
#logo {
  font-size: 50px;
  font-weight: 900;
  text-shadow: 1px 0 #f9faf8; /* Make text a little bigger */
  font-family: 'Hurricane', cursive;
  padding-top: 6px;
  width: 40vmin;
}
#nav-block {
  padding: 10px;
  display: flex;
  gap: 20px;
  width: 45vmin;
}
.nav-link {
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb;
}
.nav-link:hover {
  font-size: 20px;
  font-weight: bold;
}
.nav-link:active {
  color: #3882f6;
}


#about-container {
  border: solid 3px red;

  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 30vmin;
}
#about {
  width: 40vmin;
}
#img-container {
  width: 45vmin;
}


#showcase {
  border: solid 3px blue;

  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f9faf8;
  padding-bottom: 30px;
}
#show-heading {
  color: #1f2937;
  font-size: 36px;
  font-weight: 800;
  padding: 25px;
}
#showcase-container {
  border: solid 3px green;

  display: flex;
}
.image-caption {
  color: #1f2937;
}


#quote-container {
  background-color: #e5e7eb;
  padding: 100px;
}
blockquote {
  width: 70%;
  margin: auto;
  color: #1f2937;

}
#philosophy {
  font-size: 20px;
  font-style: italic;
  font-weight: 100;
}

cite {
  font-size: 20px;
  font-weight: 900;
}

.works {
  border: solid 2px blue;
  border-radius: 15px;
  height: 200px;
  width: 200px;
}
