* { /* Select all elements */
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #1f2937;
  color: #f9faf8;
}

header {
  border: solid 3px green;

  padding: 10px;
  display: flex; 
  justify-content: space-around;
  align-items: center;
}
#logo {
  border: solid 3px yellow;

  font-size: 38px;
  font-weight: bold;
  font-family: 'Hurricane', cursive;
  padding-top: 6px;
}
#nav-block {
  border: solid 3px blue;

  display: flex;
  gap: 20px;
}

#about {
  border: solid 3px red;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

#showcase {
  border: solid 3px blue;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#showcase-container {
  border: solid 3px green;

  display: flex;
  
}

.works {
  border: solid 2px blue;
  border-radius: 15px;
  height: 200px;
  width: 200px;
}
